.layout{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.header-navbar{
    height: 50px;
    width: 100%;
    background-color: #1a9274;                  
}

.layout-container {
  display: flex;
  flex: 1;
}

.aside-bar {
  width: 250px; /* fixed sidebar width */
  background-color: #ad2727;
}

.main-content {
  flex: 1;
  background-color: #f5f5f5;
  padding: 1rem;
}